<div class="card" style="width: 18rem; height: 400px;">
    <a href=<%=data.id%>"><%-include("carousel",{data:data.link});%></a>
    <div class="card-body">
      <h5 class="card-title"><%=data.name%></h5>
      <p class="card-text"><%=data.discription%></p>
      
    </div>
  </div>