<%-include("header")%>
<%-include("sidebar",{profile:profile,profilename:name})%>
<div class="content">
    <div class="upload">
        <div class="upload-form">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="custom-file">
                <h3>
                    Upload Image
                </h3>
                <br>
                <input type="file" name="file">
              </div>
               <button type="submit" name="btn" value="upload" class="upload-button btn btn-dark">UPLOAD</button>
               <br> 
            <div class="custom-file ">
               
                <hr>
                
                <%=status%>
              </div>
           </form>
        </div>
    </div>
</div>
<%-include("footer")%>
