body{
    margin: 0;
    padding: 0;
}
/*#49323c;*/
.nav{
    display: flex;
    flex-wrap: nowrap;
    color: aquamarine;
    align-items: baseline;
    width: 100%;
    background-color:#49323c;
    box-sizing: border-box;
    box-shadow: 5px 10px 10px rgb(137, 172, 97);
    font-family: ",Arial, Helvetica, sans-serif Copperplate Gothic Light, fantasy";
}
.nav-title{
    display: block;
    color: white;
    margin-left: 250px;
    animation-name:flip;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.nav .right_side{
    display: block;
    flex-grow: 1;
    text-align: right;
    width: 200px;
    justify-self: flex-end;
    text-justify: newspaper;
    padding: 15px;
    
    
}/*#b2d7f5*/
.sidebar{
    position: fixed;
    display: inline-block;
    width: 15%;
    top :0;
    padding-top: 25px;
    line-height: 70px;
    text-align: center;
  
    background-color:#b2d7f5 ;
    box-shadow:  5px 10px 18px rgb(118, 185, 230);
    height: 100vh;
    
}

.sidebar header span{
    font-weight: 100%;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sidebar img{
    width: 100px;
    border-radius: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid red;
    box-shadow: 0px 0px 10px 10px rgb(37, 46, 71);
    animation-name:flip;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes flip{
   0%{transform: scale(.8,.8);}
   25%{transform: scale(1.28,1.28);}
   50%{transform: scale(1,1);}
   75%{transform: scale(1.28,1.28);}
   100%{transform: scale(.8,.8);}
}

.sidebar header span {
    color :rgb(0, 0, 0);
 
}
.sidebar-link a{
    display: block;
    width: 100%;
    color: #270021;
    border-top: inset 2px;
    margin-bottom: 2px;
    
    border-bottom:solid 2px;
    border-radius: 80px;
    font-size: 20px;
    text-decoration: none;
}
.sidebar-link a:hover{
    color: #b190ac;
    background-color: #000000;
    border-radius: 120px;
    box-shadow: 0px 0px 10px 10px rgb(26, 13, 1);
}
.sidebar-link a i span{
    color: #ffffff;
}
.sidebar-link a span{
padding-left: 10px;
}
.content{
    margin-left: 16%;
    display: flex;
    
}

.card-div{
    display: inline-block;
    width: auto;
    height: auto;
    flex-grow: 1;
    margin: 10px;
    
    border: 4px dotted yellow;
}
.card-div-container{
    margin-top: 0px;
    flex-grow: 1;
    background-color: rgb(45, 46, 43);
}
.upload-form{
   text-align: center;
   height: 30vh;
   padding: 8px;
   box-shadow:  5px 5px 5px 5px rgb(207, 42, 42) ;
}
.upload-button{
    margin: 20px;
}
.upload{
    display: flex;
    height: 100vh;
    width: 100%;
    /*border: solid 1px;*/
    justify-content: center;
    align-items: center;
}
.custom-card{
    height: 400px;
    background-color: #49323c;
    
}
    .custom-card img:hover{
        transition: transform 2s;
    } 
.custom-card img:hover{
    transform: scale(1.1);
    float: left;
    margin: auto;
    border:solid 5px #000000;
    
    z-index: 2;
}
#model-img{
    
    width: 200px;
    height: 200px;
    border-radius: 100px;
}