body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("https://pixabay.com/get/57e8d0424e5aaf14f6da8c7dda29337c1436dce35a4c704c7c2b7ed4934ec65a_1280.jpg?attachment=");
}
.bg img{
    height: 100vh;
    width: 100%;
    
    
}
.login-form{
    position: fixed;
   margin-top: 16%;
   margin-left: 60%;
   width: 23%;
   text-align: center;
   height: 45%;
    border: 3px solid black;
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
